In [6]:
import setup_django
setup_django.init()
print("hello")

hello

In [9]:
from movies.models import Movie

qs = Movie.objects.all().values('title','release_date', 'rating_avg', 'rating_count')
qs

<MovieQuerySet [{'title': 'Ariel', 'release_date': datetime.date(1988, 10, 21), 'rating_avg': Decimal('2.80'), 'rating_count': 5}, {'title': 'Shadows in Paradise', 'release_date': datetime.date(1986, 10, 16), 'rating_avg': Decimal('3.60'), 'rating_count': 5}, {'title': 'Four Rooms', 'release_date': datetime.date(1995, 12, 9), 'rating_avg': Decimal('2.00'), 'rating_count': 7}, {'title': 'Judgment Night', 'release_date': datetime.date(1993, 10, 15), 'rating_avg': Decimal('2.86'), 'rating_count': 7}, {'title': 'Star Wars', 'release_date': datetime.date(1977, 5, 25), 'rating_avg': Decimal('3.42'), 'rating_count': 12}, {'title': 'Finding Nemo', 'release_date': datetime.date(2003, 5, 30), 'rating_avg': Decimal('2.82'), 'rating_count': 11}, {'title': 'Forrest Gump', 'release_date': datetime.date(1994, 7, 6), 'rating_avg': Decimal('2.55'), 'rating_count': 11}, {'title': 'American Beauty', 'release_date': datetime.date(1999, 9, 15), 'rating_avg': Decimal('2.60'), 'rating_count': 10}, {'title': 'Citizen Kane', 'release_date': datetime.date(1941, 4, 30), 'rating_avg': Decimal('3.10'), 'rating_count': 10}, {'title': 'Dancer in the Dark', 'release_date': datetime.date(2000, 5, 17), 'rating_avg': Decimal('2.07'), 'rating_count': 14}, {'title': 'The Dark', 'release_date': datetime.date(2006, 1, 26), 'rating_avg': Decimal('2.71'), 'rating_count': 7}, {'title': 'The Fifth Element', 'release_date': datetime.date(1997, 5, 7), 'rating_avg': Decimal('3.67'), 'rating_count': 6}, {'title': 'Metropolis', 'release_date': datetime.date(1927, 1, 10), 'rating_avg': Decimal('3.12'), 'rating_count': 8}, {'title': 'My Life Without Me', 'release_date': datetime.date(2003, 3, 7), 'rating_avg': Decimal('2.58'), 'rating_count': 12}, {'title': 'The Endless Summer', 'release_date': datetime.date(1966, 6, 15), 'rating_avg': Decimal('2.44'), 'rating_count': 9}, {'title': 'Pirates of the Caribbean: The Curse of the Black Pearl', 'release_date': datetime.date(2003, 7, 9), 'rating_avg': Decimal('2.30'), 'rating_count': 10}, {'title': 'Kill Bill: Vol. 1', 'release_date': datetime.date(2003, 10, 10), 'rating_avg': Decimal('2.92'), 'rating_count': 12}, {'title': 'Jarhead', 'release_date': datetime.date(2005, 11, 4), 'rating_avg': Decimal('3.00'), 'rating_count': 6}, {'title': 'Walk on Water', 'release_date': datetime.date(2004, 2, 5), 'rating_avg': Decimal('3.00'), 'rating_count': 11}, {'title': '9 Songs', 'release_date': datetime.date(2004, 7, 16), 'rating_avg': Decimal('2.17'), 'rating_count': 6}, '...(remaining elements truncated)...']>

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame(qs)
df.head(n=10)

                 title release_date rating_avg  rating_count
0                Ariel   1988-10-21       2.80             5
1  Shadows in Paradise   1986-10-16       3.60             5
2           Four Rooms   1995-12-09       2.00             7
3       Judgment Night   1993-10-15       2.86             7
4            Star Wars   1977-05-25       3.42            12
5         Finding Nemo   2003-05-30       2.82            11
6         Forrest Gump   1994-07-06       2.55            11
7      American Beauty   1999-09-15       2.60            10
8         Citizen Kane   1941-04-30       3.10            10
9   Dancer in the Dark   2000-05-17       2.07            14

In [13]:
qs.first()

{'title': 'Ariel',
 'release_date': datetime.date(1988, 10, 21),
 'rating_avg': Decimal('2.80'),
 'rating_count': 5}